input, select
	background: #F4F4F4 
	border: 1px solid #d5d5d5 


// admin-header
.admin-header
	font-size: 0
	height: 75px
	background: #FFF
	border: 1px solid #3d566e
	border-bottom: none
	&__logo
		display: inline-block
		vertical-align: top
		text-align: center
		line-height: 73px
		width: 113px
		img
			vertical-align: middle
	&__title
		display: inline-block
		background: #0DB597 
		width: 885px	
		p
			color: #FFF
			text-transform: uppercase 
			font: bold 17px "Open Sans", sans-serif
			line-height: 75px
			margin-left: 30px


// main
.admin-menu
	background: #3D566E 
	height: 50px
	font: bold 13px "Open Sans", sans-serif 
	text-transform: uppercase
	+clr
	li
		float: left
		margin-top: 1px
		border-left: 1px solid #3D566E
		background: #DC6053
		&:hover
			background: #ED6456
		a
			display: block
			text-decoration: none	
			line-height: 48px
			color: #FFF  
			padding: 0 40px 
		&.is-active
			background: #FFF
			border-bottom: none
			height: 49px
			a
				color: #000
				text-decoration: none
.advertising
	float: right
	margin-right: 40px
	line-height: 50px
	color: #FFF
	&:hover
		color: #C6D5E3 

.create-poll
	border: 1px solid #3d566e
	border-top: none
	font: 13px "Open Sans", sans-serif
	&__wrap
		display: inline-block
		vertical-align: top
		margin: 10px 0 25px 
	&__in
		h4
			display: block
			margin: 20px 0
			color: #333 
			font-weight: bold
		input
			height: 25px
	&__name 
		width: 690px
		input
			width: 690px
	&__bonus
		width: 190px
		margin-right: 30px
		display: inline-block
	&__link
		width: 475px
		display: inline-block
.add-pic
	width: 190px
	height: 105px
	background: #E2E6EB 
	text-align: center
	line-height: 105px
	margin-right: 30px
	span
		display: inline-block
		margin-right: 5px
		vertical-align: middle
		+s(add_pic)
	a
		color: #3D566E  
		&:hover
			color: #152B3F