// Normally mainpage styles
body
	width: 1000px
	color: $d-grey

// 
// index
// 
.out_index
	background: url(../img/bg.jpg) no-repeat
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover


.page-header
	height: 180px
	font-size: 0
	&__logo
		width: 198px
		display: inline-block
		margin: 1px 0 0 1px
		text-align: center
		vertical-align: top
		line-height: 179px
		background: #FFF 
		img
			vertical-align: middle
.profile
	display: inline-block
	margin-top: 1px
	+opensans
	&__userpic
		display: inline-block
		text-align: center
		width: 200px
		height: 179px
		overflow: hidden
		img
			width: 100%
			overflow: hidden 
	&__info
		display: inline-block
		vertical-align: top
		width: 600px
	&__top
		background: $green
		height: 74px 
		text-transform: uppercase
		padding: 20px 30px 0 30px 
		+box
		+clr
	&__name
		float: left
		p
			color: #FFF
			margin-bottom: 5px 
			font-weight: bold 
			font-size: 13px
	&__bonuses
		float: right
		margin-top: 5px
		span
			display: inline-block
			vertical-align: top
			padding-right: 10px
			+s(bonuses)
		a
			color: #FFF 
			font-weight: bold 
			font-size: 17px
			&:hover
				color: #89FAE6 
	&__bottom
		height: 105px
		padding: 20px 30px
		background: #FFF 
		+box
		h5
			font-weight: bold 
			font-size: 13px
			display: inline-block
			padding-right: 5px
		p 
			font-size: 13px
			display: inline-block
.change
	span
		display: inline-block
		vertical-align: top
		padding-right: 5px
		+s(change)
	a
		color: #004e40
		text-decoration: underline
		text-transform: none 
		font-size: 11px
		display: inline-block
		padding-top: 1px
		&:hover
			color: #002B23 
	&_university
		position: absolute
		top: 0
		right: 0
		a
			color: $blue
.university
	position: relative
	h5
		vertical-align: top
	p
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		width: 365px
.faculty
	padding: 5px 0
	display: inline-block
	span
		display: inline-block
		vertical-align: top
		margin-right: 3px
		+s(add_fac)
	a
		color: $blue
		text-decoration: underline
		display: inline-block
		padding-top: 1px 
		font-size: 11px
		+opensans
		&:hover
			color: $blue-h 
	&__add
		display: inline-block
.profile__change
	display: none
	a 
		color: $blue 
		display: inline-block 
		font-size: 11px 
		+opensans
.profile__change-name
	float: left
	a	
		color: #004E40
.change-field
	width: 380px
	padding: 5px 10px
	margin: 5px 5px 5px 1px
	display: inline-block
	background: #EDEDED
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	+box 
	+placeholder
		color: $d-grey 
		text-transform: uppercase
	&_name
		width: 360px
		margin-top: -5px
		display: block
		background: #FFF 
span.savechange
	display: inline-block
	padding-right: 5px
	&_name
		+s(save_name)
	&_field
		+s(save_field)


.main
	+clr
.main__bonuses
	background: url(../img/bonuses_bg.png) no-repeat
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	padding-top: 35px
	color: #FFF 
	height: 165px
	+opensans
	h4
		font-weight: bold 
		font-size: 17px
		margin-bottom: 20px
	p
		font-size: 13px

.main__polls-title 
	margin-top: -30px
	padding-top: 60px
	h3
		font-weight: bold 
		font-size: 17px
		+opensans 
		text-transform: uppercase
		margin-bottom: 35px
.polls
	position: relative
	margin: -40px 0 40px 0
	font-size: 0
	&__cycle
		margin: 0 20px
	&__item 
		position: relative
		display: inline-block
		vertical-align: top
		margin: 40px 0 40px 45px
		width: 260px
		height: 320px
		background: #FFF 
		text-transform: uppercase
		-webkit-box-shadow: 0 0 30px 0 $d-grey 
		box-shadow: 0 0 30px 0 $d-grey
		overflow: visible
		+opensans
		h2
			margin-top: 20px
			line-height: 20px
			font-weight: bold 
			font-size: 13px 
		a
			position: absolute
			bottom: 0
			color: #FFF
			font-weight: bold 
			font-size: 14px
			text-align: center
			display: inline-block
			background: $red 
			height: 40px
			width: 100% 
			line-height: 40px
			text-decoration: none
			&:hover
				background: $red-h 
	&__main
		margin: 20px

.cycle-next,.cycle-prev
	position: absolute
	top: 50%
	height: 320px
	width: 60px
	z-index: 200 
	cursor: pointer
.cycle-prev
	left: 20px
	+s(arr-left)
	&:hover
		+s(arr-left-h)
.cycle-next
	right: 20px
	+s(arr-right)
	&:hover
		+s(arr-right-h)

.page-footer
	background: $blue 
	height: 45px
.copyright
	color: #FFF 
	p
		line-height: 45px
		
// 
// index-popup
// 
.overlay
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	padding: 75px 0 0 398px 
	z-index: 999
	i
		position: fixed
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: rgba(#131805, 0.3)
	&:before
		content: ""
		display: inline-block
		width: 0
.popup
	position: relative
	width: 570px 
	padding: 30px
	+box
	background: #fff 
	display: none
	box-shadow: 0 0 19px 2px #000 
	&.is-visible
		display: inline-block
	h3
		margin-bottom: 15px
		color: #333 
		font-size: 13px
		font-weight: bold
		+opensans
	&__form
		.select
			width: 100% 		  		 		 
			height: 25px
			margin-bottom: 10px
			+box
			padding: 2px 0 0 10px
			font-size: 13px
			color: #333
			+opensans
			border: 1px solid #d5d5d5
			&__list li
				padding: 2px 10px 
		#button
			width: 90px
			height: 30px
			padding: 0
			text-align: center
			background: #3A5268	
			color: #FFF 
			font-size: 13px
			+opensans
			&:disabled
				background: $grey 
				cursor: default


// 
// admin_create
// 
input
	background: #F4F4F4 
	height: 30px
	border: 1px solid #d5d5d5
	padding-left: 10px
	-webkit-border-radius: none 
	border-radius: none 
	+box

.select
	position: relative
	+vertical
	cursor: pointer
	font-size: 13px
	display: inline-block
	width: 100%
	height: 30px
	vertical-align: top
	text-align: left
	background: #F4F4F4 
	border: 1px solid #d5d5d5
	padding: 5px 0 0 10px
	+box
	&:before
		position: absolute
		top: 11px
		right: 7px
		content: ""
		+arr(8, 4, $blue, b)
	&__text
		position: relative
	&__list
		position: absolute
		display: none
		top: 100%
		left: -1px
		right: -1px
		z-index: 100
		overflow: hidden
		background: #F4F4F4 
		border: 1px solid #d5d5d5 
		margin-top: -1px
		border-top: none
		li
			cursor: pointer
			padding: 5px 10px 
			&:hover
				background: #FFF

.admin-header
	font-size: 0
	height: 75px
	background: #FFF
	border: 1px solid $blue
	border-bottom: none
	&__logo
		display: inline-block
		vertical-align: top
		text-align: center
		line-height: 73px
		width: 113px
		img
			vertical-align: middle
	&__title
		display: inline-block
		background: $green 
		width: 885px	
		p
			color: #FFF
			text-transform: uppercase 
			font-weight: bold 
			font-size: 17px
			line-height: 75px
			margin-left: 30px
			+opensans


.admin-menu
	background: $blue
	height: 50px
	font-weight: bold 
	font-size: 13px
	text-transform: uppercase
	+opensans
	+clr
	li
		float: left
		margin-top: 1px
		border-left: 1px solid $blue
		background: $red
		&:hover
			background: $red-h
		a
			display: block
			text-decoration: none	
			line-height: 48px
			color: #FFF  
			padding: 0 40px 
		&.is-active
			background: #FFF
			border-bottom: none
			height: 49px
			a
				color: #000
				text-decoration: none
.advertising
	float: right
	margin-right: 40px
	line-height: 50px
	color: #FFF
	&:hover
		color: #C6D5E3 

.create-poll
	border: 1px solid $blue
	border-top: none
	font-size: 13px
	+opensans
	&__top
		position: relative
		border-bottom: 1px solid $blue
		padding-bottom: 15px
	&__bottom
		font-size: 0
	&__wrap
		position: relative
		display: inline-block
		vertical-align: top
		margin: 10px 0 15px 
	&__in
		h4
			display: block
			margin: 15px 0
			font-weight: bold
	&__name 
		width: 693px
		input
			width: 693px
	&__bonus
		margin-right: 30px
		display: inline-block
		vertical-align: top
		.select
			width: 190px
	&__link
		display: inline-block
		input	
			width: 470px
	&__tags
		margin-right: 30px
		display: inline-block
		vertical-align: top
		height: 450px
		.select
			width: 195px
			margin-bottom: 10px
			display: block
		button
			width: 85px
			height: 25px
			line-height: 25px
			color: #FFF
			text-align: center
			background: #3A5268
			font-size: 13px
			&:hover
				background: $blue-h-b
	&__select-university 
		display: inline-block
		vertical-align: top
		width: 650px
		+clr
	&__university
		position: relative
		padding: 10px 15px
		margin-bottom: 10px
		-webkit-box-shadow: 0 0 20px 0 #d5d5d5 
		box-shadow: 0 0 20px 0 #d5d5d5 
		h5
			font-weight: bold 
			font-size: 13px
			display: inline-block
			padding-right: 5px
		p 
			font-size: 13px
			display: inline-block
		.university
			line-height: 13px
		.faculty
			padding: 0
.close
	position: absolute
	top: 0
	right: 0
	cursor: pointer
	+s(close)
	&:hover
		+s(close-h)
.btn
	position: relative
	float: right
	color: #FFF 
	text-transform: uppercase
	background: #3A5268 
	font-weight: bold 
	font-size: 17px 
	+opensans
	&:hover
		background: $blue-h-b
	&_add
		height: 40px
		line-height: 40px
		padding: 0 50px 0 15px	
		text-align: left
		margin: 60px 0 30px 0	
	span
		position: absolute
		top: 11px
		right: 15px
		margin-left: 20px
		+s(btn-add)
.add-pic
	position: relative
	width: 190px
	height: 111px
	background: #E2E6EB 
	text-align: center
	line-height: 105px
	margin-right: 30px
	span
		display: inline-block
		margin-right: 5px
		vertical-align: middle
		+s(add_pic)
	button
		color: $blue 
		text-decoration: underline 
		background: none 
		z-index: 1
		&:hover
			color: $blue-h
input.file-image
	position: absolute
	top: 45px
	right: 45px
	width: 60px
	height: 15px
	padding-left: 60px
	cursor: pointer
	z-index: 2
	opacity: 0


// 
// admin_create_vopros
// 
.create-poll__in
	font-size: 13px
	+opensans
	h4
		font-weight: bold
		
.create-poll
	&__create-question
		font-size: 13px
		padding: 30px 0 15px
		+opensans
		p
			margin-bottom: 15px
		h3
			font-weight: bold
			text-transform: uppercase
	&__question
		display: inline-block
		vertical-align: top
		width: 580px
		margin-right: 30px
		input
			width: 580px
		.select
			width: 580px
	&__video
		display: inline-block
		width: 310px
		input
			width: 310px
	&__show-answers
		display: inline-block
		h4
			margin-bottom: 10px
	&__answers
		input
			display: block
			width: 100%
			margin-bottom: 10px 
	&__btns
		margin: 40px 0
		+clr
		.btn_create
			position: relative
			float: left
			height: 40px
			line-height: 40px
			text-align: left
			padding: 0 55px 0 15px
			background: $green 
			span
				position: absolute
				top: 8px
				right: 15px
				+s(btn-create) 
			&:hover
				background: $green-h 
			&:disabled
				background: $grey 
				&:hover
					background: $grey
					cursor: default
		.btn_add
			float: right
			margin-top: 5px
			height: 30px
			line-height: 30px
			text-align: left
			padding: 0 35px 0 10px
			text-transform: none
			font-weight: bold 
			font-size: 13px
			+opensans
			span
				position: absolute
				top: 6px
				right: 10px
.btn_prev
	float: right
	line-height: 40px
	margin-right: 30px
	font-size: 13px
	+opensans
	span
		display: inline-block
		margin-right: 5px
		vertical-align: middle
		+s(prev-step)
	a
		color: $blue
.delete
	position: absolute
	top: 25px
	right: 40px
	line-height: 15px
	a
		color: #ef685a 
		text-decoration: underline
		padding-right: 25px
	&:hover
		a
			color: #DC220F 
		span.close
			+s(close-h)
.radio
	position: relative
	display: block
	input
		opacity: 0
		height: 15px
		&:checked + i + span
			color: $d-grey
			font-weight: bold
		&:checked + i:before
			content: ""
			position: absolute
			top: 1px
			left: 1px
			width: 9px
			height: 9px
			background: #EF685A
			-webkit-border-radius: 50% 
			border-radius: 50% 
		& + i
			position: absolute
			top: 3px
			left: 0
			width: 11px
			height: 11px
			border: 1px solid $blue
			-webkit-border-radius: 50% 
			border-radius: 50% 
	span
		padding-left: 10px
		color: #666

// 
// admin_roley
// 
.create-poll
	&__admin-roles
		display: inline-block
		vertical-align: top
		margin: 40px 0
	&__userlink
		display: inline-block
		margin-right: 25px
		input
			width: 590px 
			height: 30px
	&__access
		display: inline-block
		h4
			font-weight: normal
		input
			width: 300px
			height: 30px
	&__checkboxes
		h4
			margin-bottom: 5px
.checkbox
	position: relative
	input
		opacity: 0
		height: 15px
		&:checked + i + span
			color: $green
			font-weight: bold
		&:checked + i:before
			content: ""
			position: absolute
			top: 1px
			left: 1px
			width: 9px
			height: 9px
			background: #EF685A 
		& + i
			position: absolute
			top: 3px
			left: 0
			width: 11px
			height: 11px
			border: 1px solid $blue
	span
		margin: 0 25px 0 10px	
.btn_add-small
	position: absolute
	bottom: 0
	right: 0
	width: 130px
	height: 40px
	line-height: 40px
	text-align: center
.create-poll__item
	width: 850px
	border: 1px solid $grey
	margin-bottom: 20px
	+box
.item-top
	position: relative
	background: $grey 
	height: 40px
	padding-top: 10px
	font-size: 13px
	+opensans
	+clr
	+box
.item-name
	float: left
	font-weight: bold
	margin-left: 15px
	color: $blue 
	&:hover
		color: $blue-h 
.item-email
	float: right
	margin-right: 20px
	color: $blue 
	&:hover
		color: $blue-h 
.item-date
	float: right
	margin-right: 50px
	color: #666 
.close_item
	top: 11px
	right: 15px
.item-bottom
	padding: 10px 15px
.btn_changes
	width: 175px
	height: 30px
	text-transform: none
	font-size: 13px
	bottom: 3px
	&.not-active
		background: $grey
		cursor: auto
.checkbox-border
	margin-top: 10px
	padding: 15px 0 10px 0
	border-top: 1px solid $grey
.access-checked
	display: none
	span
		margin: 0 10px 0 5px 
		line-height: 17px	
input.access-poll
	display: inline-block
	width: 355px
	height: 30px
	margin: -7px 0
	background: #f4f4f4
.arrows
	display: inline-block
	margin-top: 40px
	width: 68px
	height: 460px
	span.up
		display: block
		margin: 0 auto 
		cursor: pointer
		+s(arr-up)
		&:hover
			+s(arr-up-h)
		&.not-active
			+s(arr-up-not-active)
			&:hover
				+s(arr-up-not-active)
				cursor: default
	span.down
		display: block
		margin: 402px auto 0
		cursor: pointer
		+s(arr-down)
		&:hover
			+s(arr-down-h)
		&.not-active
			+s(arr-down-not-active)
			&:hover
				+s(arr-down-not-active)
				cursor: default
	&_opros
		margin-top: 68px
		height: 614px
		span.down
			margin: 528px auto 0
	&_create
		margin-right: -40px
		margin-top: 48px
		span.down
			margin: 268px auto 0
.poll-access
	width: 500px
	display: inline-block
	vertical-align: top
.poll-access.is-checked .span-access
	display: none
.poll-access.is-checked .access-checked
	display: inline-block
	span
		color: $green 
		font-weight: bold
		

// 
// admin_all_opros
// 
.create-poll__inn-top
	display: inline-block
	vertical-align: top
	margin-left: 20px
	h4
		margin-bottom: 10px
	input
		width: 230px
		height: 30px
		+box
		+placeholder
			padding-left: 20px
			line-height: 15px
			font-style: italic
			font-size: 13px
			color: #999
			+opensans
			+s(search)
.search
	width: 130px
	+box
.advertised
	width: 170px
	+box
.btn-apply
	display: inline-block
	vertical-align: bottom
	text-align: center
	text-decoration: none
	width: 100px
	height: 25px
	line-height: 25px
	background: $blue 
	margin: 0 15px 0 20px
	color: #FFF 
	font-size: 13px
	+opensans
.btn-reset
	display: inline-block
	vertical-align: bottom
	color: $blue
	line-height: 25px
.item-name-edit
	display: inline-block
	vertical-align: middle
	margin-left: 10px
	cursor: pointer
	+s(itemname_edit)
	&:hover
		+s(itemname_edit-h)
.allpoll-tools
	margin: -20px 0 20px 0
	color: $d-grey 
	font-size: 13px
	+opensans
	+clr
	.allpoll-select
		float: left
		overflow: hidden
		p
			display: inline-block
			padding-right: 10px
		select
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			border: none
			display: inline-block
			vertical-align: top
			text-decoration: underline
			width: 100px
			padding-left: 8px
			background: transparent url("../img/arr_select_down.png") no-repeat left center
	.date-range
		float: right
		p
			display: inline-block
			vertical-align: middle
		.datepicker
			width: 90px
			height: 28px
			z-index: 2
		.calendar
			display: inline-block
			position: relative
			span
				position: absolute
				top: 5px
				right: 5px
				z-index: 1
				+s(calendar)
.create-poll__inn-bottom
	margin-bottom: 10px 
.allpoll
	display: inline-block
	vertical-align: top
	padding-right: 15px
	color: $d-grey 
	font-size: 13px
	+opensans
	+box
	&_checkbox
		width: 240px
		label
			display: block
			margin-bottom: 10px
			span
				margin: 0 0 0 10px 
	&_info
		width: 255px
		a
			display: block
			margin-bottom: 10px
			color: $blue
			&:hover
				color: $blue-h 
		p
			display: block
	&_changes
		width: 320px
		p
			margin-bottom: 10px
			&:last-child
				margin: 0
				

// 
// admin_all_opros_statistic
// 
.create-poll__title
	padding: 30px
	border-bottom: 1px solid $blue
	text-transform: uppercase
	font-weight: bold
	font-size: 13px
	+opensans
	+clr
	h3
		float: left
.create-poll__main
	border-bottom: 1px solid $blue
.statistic
	&__menu
		background: $grey
		height: 40px 
		font-size: 13px
		+opensans
		+clr
		li
			float: left
			&:hover
				a
					color: $blue-h 
			a
				display: block	
				line-height: 40px
				color: $blue
				padding: 0 20px 
			&.is-active
				background: #FFF
				border-bottom: none
				height: 40px
				a
					color: $d-grey
					text-decoration: none
	&__wrapper
		padding: 25px
	&__title
		padding-bottom: 20px
		border-bottom: 1px solid $grey
		h5
			font-weight: bold
			font-size: 13px
			color: $d-grey
			+opensans 
	&__summary
		width: 874px
		display: inline-block
		vertical-align: top
	&__top
		height: 48px
		line-height: 48px
		+clr
		p
			display: inline-block
			vertical-align: top
	&__info
		float: left
		p
			margin-right: 20px
	&__barchart
		font-size: 11px
		.percents
			display: inline-block
			vertical-align: top
			margin: -5px 7px 0 0
			li
				height: 40px
				text-align: right
		.chart
			display: inline-block		
			.barchart
				display: table
				table-layout: fixed 
				width: 830px
				height: 200px
				background-image: url('../img/bg_barchart.png')	
				li
					position: relative
					display: table-cell
					vertical-align: bottom
					height: 200px
					span
						width: 100px
						margin: 0 25px
						display: block
						background: $green
						&:before
							position: absolute
							left: 0
							right: 0
							top: 100%
							padding: 20px 0 0 25px
							display: block
							content: attr(title)
							word-wrap: break-word
	&__bottom
		+clr
		table
			width: 830px
			float: right
			margin-top: 75px
			border-collapse: collapse
			font-size: 11px
			+opensans
			tr
				border-bottom: 1px solid $grey
				&:first-child 
					border-top: 1px solid $grey
					background: #F1F1F1 
				.statistic__row-right
					text-align: right
			td
				padding: 10px 20px
				span
					font-weight: bold
.export
	float: right
	text-transform: none
	font-weight: normal
	p
		display: inline-block
	a
		display: inline-block
		vertical-align: top
		margin-left: 5px
		color: $blue
		&:hover
			color: $blue-h 
.arrows_statistic
	text-align: right
	width: 70px
	margin-top: 25px
	span.down
		margin-top: 432px
.create-poll__bottom-btns
	height: 72px 
	line-height: 72px
	padding: 0 40px
	background: $grey  
	.btn_prev-statistic
		float: left
		line-height: 72px
	.btn_statistic
		text-transform: none
		margin: 21px 0
		height: 30px
		line-height: 30px
		padding: 0 30px 0 10px 
		span
			top: 6px
			right: 9px


// 
// admin_all_opros_statistic-opens
// 
.statistic__search
	position: relative
	width: 535px
	input
		width: 535px
		height: 30px
		background: #F4F4F4 
	span
		position: absolute
		top: 8px
		right: 5px
		+s(search)
.statistic__answers
	margin: 20px 0
	.user-answer
		border-top: 1px solid $grey
		padding: 10px 0
		font-size: 11px
		&:last-child
			border-bottom: 1px solid $grey
		p
			display: block
			color: $d-grey 
		a
			display: block
			color: $blue 
.arrows_answers
	margin-top: 98px
	height: 360px
	span.down
		margin-top: 276px

// 
// admin_all_opros_statistic-table
// 
table.statistic__table
	width: 870px
	margin: 0
	float: none
.statistic__col1
	background: #F1F1F1
	width: 210px
.statistic__row-center
	text-align: center



// 
// bonus
// 
.bonus-title
	padding: 40px
	background: $blue 
	h3
		text-transform: uppercase
		color: #FFF
		font-size: 17px
		font-weight: bold
		+opensans
.bonuses
	padding-top: 30px
	&__in
		display: inline-block
		vertical-align: top
.bonus
	-webkit-box-shadow: 0 0 20px 0 #999 
	box-shadow: 0 0 20px 0 #999
	font-size: 0
	background: #FFF 
	height: 105px
	width: 845px
	margin-bottom: 30px
	&__wrap
		width: 105px
		height: 105px
		padding: 10px 15px
		display: inline-block
		vertical-align: top
		text-align: center
		color: #FFF
		font-size: 13px
		+opensans
		+box 
		h5
			padding-bottom: 25px
			font-weight: normal
			font-size: 13px
		p
			padding-bottom: 5px
		span
			padding-bottom: 5px
			font-weight: bold
			font-size: 14px
			text-transform: uppercase
	&__inner
		display: inline-block
		vertical-align: top
		font-size: 13px
		+opensans
		width: 740px
	&__top
		padding: 0 20px
		height: 40px
		line-height: 40px
		background: $grey
		+clr
		h6
			float: left
			font-size: 13px
			font-weight: normal
			color: $d-grey 
		p
			float: right
			color: #666 
	&__bottom
		padding: 10px 20px
		height: 65px
		font-size: 13px
		+opensans
		p
			display: block
			padding-bottom: 5px
			color: $d-grey
			span
				font-weight: bold
			span.is-valid
				color: $green
			span.is-used
				color: $blue
			span.is-not-valid
				color: #666
		a
			color: $blue 
			display: block
	&_active
		.bonus__wrap
			background: $red
	&_not-active
		.bonus__wrap
			background: #e39a92
		.bonus__bottom
			position: relative
		.bonus-error
			position: absolute
			top: 10px
			right: 20px
			color: $red 
	&_used
		.bonus__wrap
			background: #51667b
			h5
				padding-bottom: 20px
			span
				display: inline-block
				text-align: center
				vertical-align: middle
				+s(is-used)
	&_not-used
		.bonus__wrap
			background: #a7a7a7
			span
				display: inline-block
				text-align: center
				vertical-align: middle
				+s(not-used)
.arrows_bonus
	margin-top: 0
	span.down
		margin-top: 465px



// 
// opros
// 
.page-header_poll
	background: $blue
	text-transform: uppercase
	padding-left: 42px
	width: 958px 
	height: 75px
	line-height: 75px 
	h3
		color: #FFF
		font-weight: bold
		font-size: 13px
		+opensans 
.poll-question
	width: 998px
	margin-left: 1px
	background: #FFF 
	-webkit-box-shadow: 0 10px 20px -10px $d-grey 
	box-shadow: 0 10px 20px -10px $d-grey
	&__top
		height: 42px
		color: #FFF
		font-weight: bold
		line-height: 42px
		font-size: 0
		+opensans 
	&__number
		width: 42px
		display: inline-block
		text-align: center
		font-size: 14px
		background: $red
	&__title
		background: $green 
		display: inline-block
		vertical-align: top
		padding-left: 20px
		font-size: 13px
		width: 936px
	&__showvideo
		position: relative
		p
			display: inline-block
			margin-right: 15px
	&__bottom
		padding: 15px 42px
		label
			margin-bottom: 5px
		textarea
			width: 100%
			resize: none
			background: #E9EAED 
	&__row
		width: 956px
		height: 35px
		line-height: 35px
		padding-left: 42px
		border-bottom: 1px solid #d3d3d3
		font-size: 13px
		span
			display: inline-block
		&:last-child
			border: none
	&__in
		padding: 0
		
.choose
	position: relative
	display: inline-block
	vertical-align: middle
	height: 20px
	width: 45px
	padding-right: 20px
	background: $blue
	+box 
	&__input
		display: block
		padding: 0
		height: 20px
		width: 25px
		text-align: center
		font-size: 13px
		font-weight: bold
		color: #333 
	&__plus,
	&__minus
		position: absolute
		right: 6px
		width: 0px
		height: 0px
		border-style: solid
		background: none
	&__plus
		top: 4px
		border-width: 0 4px 4px 4px
		border-color: transparent transparent #fff transparent
	&__minus
		bottom: 4px
		border-width: 4px 4px 0 4px
		border-color: #fff transparent transparent transparent
.poll-question__video
	display: inline-block
	line-height: 15px
	a
		color: #FFF 
		padding-left: 25px
		position: relative
		&:hover
			color: #89FAE6
		span
			position: absolute
			left: 0
			+s(show_video)
		
.btn_next
	float: left
	margin: 40px 0 100px 42px 

.fancybox-nav
	width: 60px
.fancybox-nav span
	visibility: visible



// 
// opros_uspeh
// 
.poll-end
	width: 918px
	margin-left: 1px
	padding: 25px 40px
	color: #333
	background: #FFF 
	-webkit-box-shadow: 0 10px 20px -10px $d-grey 
	box-shadow: 0 10px 20px -10px $d-grey
	+opensans
	&__wrapper
		border-bottom: 1px solid #dbdbdb
		h5
			display: block
			font-size: 13px
			font-weight: bold
	&__inner
		font-size: 0
		margin-bottom: 30px
		p
			font-size: 13px
		a
			color: $blue 
		span
			font-weight: bold
			font-size: 13px
	&__icon
		display: inline-block
		vertical-align: top
		margin-right: 15px
		span
			display: inline-block
			+s(poll_end)
	&__title
		display: inline-block
		vertical-align: middle
		h1 
			margin-bottom: 5px
			font-size: 17px
			font-weight: bold
			text-transform: uppercase
		p
			font-size: 13px
	&__coverage
		width: 920px
		background: #E9EAED 
		margin: 15px 0 30px 0
	&__scope
		background: $green
		height: 40px 
	&__wrap
		background: $red
		width: 105px
		height: 80px
		display: inline-block
		vertical-align: top
		text-align: center
		color: #FFF 
		margin-right: 20px
		p
			margin: 15px 0
		span
			font-size: 14px
	&__in
		display: inline-block
		padding-top: 10px
	button
		margin: 30px 10px 0 0
		padding: 0 10px
		height: 30px
		background: $blue
		color: #FFF
		font-weight: bold
		font-size: 13px
		+opensans  
		&:hover
			background: $blue-h-b 
.btn_main
	float: none
	height: 40px
	line-height: 40px
	padding: 0 15px 0 40px	
	text-align: left
	margin: 40px
	margin-bottom: 200px
	span
		position: absolute
		top: 11px
		left: 15px
		margin: 0
		+s(btn-main)



// 
// opros_uspeh-dilemma
// 
.poll-end__dillema
	padding: 0
	label
		p
			display: inline-block
			

